@{
    ViewData["Title"] = "View Tasks";
}
@model List<TaskForm>
<table class="table table-bordered">

    <thead>
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed</td> 
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Task</td>
                <td>@x.DueDate</td>
                <td>@x.Quadrant</td>
                <td>@x.Category.CategoryName</td>
                <td>@x.Completed</td>

                <td><a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
